<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
</head>
<body>

<h1>Sistema de Marketing Digital</h1>

<h2>Registrar Campaña</h2>

<form action="/guardar" method="POST">
    Nombre: <input type="text" name="nombre"><br>
    Tipo: <input type="text" name="tipo"><br>
    Alcance: <input type="number" name="alcance"><br>
    Interacciones: <input type="number" name="interacciones"><br>
    Conversiones: <input type="number" name="conversiones"><br>
    Costo: <input type="number" name="costo"><br>
    
    <button type="submit">Guardar</button>
</form>

<a href="/dashboard">Ver Dashboard</a>

</body>
</html>